<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChatAI.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ChatAI.Settings>
            <setting name="Type" serializeAs="String">
                <value>gemini-1.5-flash</value>
            </setting>
            <setting name="URLServer" serializeAs="String">
                <value>http://localhost:1337/v1/chat/completions</value>
            </setting>
            <setting name="Instruccion" serializeAs="String">
                <value>Me llamo Goyo y soy un asistente que habla en español.</value>
            </setting>
            <setting name="TypeCasa" serializeAs="String">
                <value>qwen2.5-coder-7b-instruct</value>
            </setting>
        </ChatAI.Settings>
    </userSettings>
</configuration>